.login-wrap{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #2d3a4b;
  padding-top: 160px;
}
.login-wrap .title{
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.login {
  width: 400px;
  margin: 0 auto;
  padding: 0 30px;
}

.submit-btn{
  width: 100%;
}
.ant-input-prefix{
  margin-right: 10px;
}