.home header {
  background-color: #444;
}
.home header .container{
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.home header .container .info {
  display: flex;
  align-items: flex-end;
}
.home header .container .info img{
  margin-right: 20px;
}

