.note-wrap{
  padding: 10px 0;
}
.note-wrap header{
  display: flex;
  justify-content: space-between;
}
.note-wrap header, .note-wrap main {
  padding: 0 40px;
}
.note-wrap h3{
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
}
.note-wrap .ant-divider-horizontal{
  margin: 12px 0 ;
}

.note-wrap .add-note{
  position: fixed;
  font-size: 60px;
  color: rgb(253, 128, 44);
  right: 100px;
  bottom: 100px;
  cursor: pointer;
}